{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'cars_api/style.css' %}">
<html lang="en">
<head>

</head>
<body>
<nav class="nav">
        <h1>Car Api</h1>
</nav>

    <div class="container text-light">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="search">
        {% if message %}
        <div class="notification {{ message_class }}">{{ message }}</div>
        {% endif %}
    </form>
    </div>

        <div class="container" id="mainContainer">
        {% for car in cars %}
        <div class="container" id="box" style="width: 300px;">
            <h2> {{ car.make }}</h2>
            <h2>{{ car.model }}</h2>
            <h2>Rank: {{car.review.rate}}</h2>
            <div class="delete">
                <a style="text-decoration: none; color: black;" href="{% url 'delete_car' car.id %}">
                    delete
                </a>

            </div>
        </div>
         {% endfor %}
    </div>
</h2>


</body>
</html>